In [161]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
%matplotlib inline

from sklearn.preprocessing import OneHotEncoder, LabelEncoder

In [162]:
df_userid =  pd.read_csv('takehome_users.csv',encoding='latin-1')

In [163]:
df_userid.head()

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0

In [189]:
df_userid.org_id.unique()

array([ 11,   1,  94, 193, 197,  37,  74, 302, 318,  69, 130, 254,   0,
       175, 211,   2,  58,  54,   7,   6, 123,  81,  56, 134,  92, 251,
       283,  98, 401,  33,  59, 109, 276, 208, 332,  64, 235,  63,  14,
         4, 127,  32, 224, 304,  61,  51, 229,  88, 325, 150, 347, 203,
        21, 409, 215, 141,   5, 107, 184, 310, 367, 389,  89, 242,  68,
        16,  49, 185,  91, 172,   8,  43, 249,  26, 139,  70,  10, 252,
        53, 119,   3, 196, 335, 375, 303, 307,  25, 370,  83,  27, 306,
       118, 295,  19, 301, 100, 112, 263,  39,  12,  86, 402,  42, 103,
       373, 268,  30, 406,  48, 313,   9, 138, 261,  35, 264,  95,  55,
        60, 234,  28, 410, 170, 374,  15,  17, 364,  62, 244, 342, 225,
       121, 255, 411, 217, 165, 415, 104, 329, 278, 116, 151, 290, 200,
       187, 122, 353, 135, 328,  36,  13, 341, 349, 198, 153, 108,  77,
       142, 275, 176,  87, 191, 102, 245, 154, 218, 385,  76, 321, 159,
       371,  50,  75, 333, 137, 292, 286, 131, 178, 213, 376, 366, 192,
       300, 316,  52,  40,  79, 398, 336,  20, 269, 147,  47,  18, 382,
       365, 188, 144,  45, 343, 231, 338, 311, 340, 334, 163, 156,  84,
       110, 285, 380, 148, 272, 414, 237, 129, 346, 362,  82, 282, 152,
       331,  71, 160, 105, 221, 171, 361, 136, 143, 164, 413, 128, 273,
       352, 327,  31, 394, 162, 289, 381, 319, 205, 320,  29, 222,  22,
       262,  99, 271, 412,  93, 368, 356, 179, 309, 120, 330,  65, 296,
       339, 236, 383,  41,  44, 186, 405, 274, 169, 281, 117,  73, 126,
       372, 395,  96, 258, 189, 181, 256, 174, 291, 106, 265, 190, 214,
       226, 344, 284, 158, 399,  80, 239, 114, 201, 157,  78, 210,  72,
       209, 132, 326, 146,  97,  46, 195, 266,  23, 305, 299, 297, 253,
       250, 345,  24, 194, 161, 358, 207, 227, 149, 177,  38, 322, 267,
       223, 113, 351, 288, 317,  67, 280, 125, 228, 238, 133, 270, 115,
       202, 293, 386, 216, 219, 337,  66, 246, 298, 350, 204, 357, 354,
        57, 259, 124,  85, 248, 312, 404, 277,  90, 408, 390, 314, 377,
       359, 220, 308, 241, 111, 168, 294, 140, 180,  34, 101, 145, 387,
       166, 260, 391, 400, 324, 212, 369, 247, 182, 240, 199, 243, 279,
       233, 379, 155, 397, 230, 315, 363, 407, 388, 167, 232, 392, 348,
       287, 384, 173, 323, 355, 206, 183, 360, 257, 378, 403, 393, 396,
       416], dtype=int64)

In [164]:
df_userid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 10 columns):
object_id                     12000 non-null int64
creation_time                 12000 non-null object
name                          12000 non-null object
email                         12000 non-null object
creation_source               12000 non-null object
last_session_creation_time    8823 non-null float64
opted_in_to_mailing_list      12000 non-null int64
enabled_for_marketing_drip    12000 non-null int64
org_id                        12000 non-null int64
invited_by_user_id            6417 non-null float64
dtypes: float64(2), int64(4), object(4)
memory usage: 937.6+ KB

In [216]:
df_usage =pd.read_csv('takehome_user_engagement.csv',parse_dates=['time_stamp'] )
df_usage = df_usage.set_index(pd.DatetimeIndex(df_usage['time_stamp']))

In [217]:
df_usage.head()

                             time_stamp  user_id  visited
time_stamp
2014-04-22 03:53:30 2014-04-22 03:53:30        1        1
2013-11-15 03:45:04 2013-11-15 03:45:04        2        1
2013-11-29 03:45:04 2013-11-29 03:45:04        2        1
2013-12-09 03:45:04 2013-12-09 03:45:04        2        1
2013-12-25 03:45:04 2013-12-25 03:45:04        2        1

In [218]:
df_usage.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 207917 entries, 2014-04-22 03:53:30 to 2014-01-26 08:57:12
Data columns (total 3 columns):
time_stamp    207917 non-null datetime64[ns]
user_id       207917 non-null int64
visited       207917 non-null int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 6.3 MB

In [219]:
len(df_usage.user_id.unique())

8823

In [220]:
# Group by userid and resample the timeseries data with "1W'to get  number of times any user has logged in 'in a 7 day timeframe'
grouped = df_usage.groupby('user_id').resample('1W').sum()

In [221]:
# filter using 'loc' to find the no. of times the login was greater than '3' in the 7 day timeframe'
active_users = grouped.loc[(grouped['visited'] >=3),['visited']]
active_users.head()

                    visited
user_id time_stamp
2       2014-02-09        3
10      2013-03-03        3
        2013-04-14        3
        2013-04-28        3
        2013-05-05        4

In [222]:
len(active_users)

33859

In [223]:
#Compute count within the group
active_users_agg =active_users.groupby(level='user_id').count()
active_users_agg.head()

         visited
user_id
2              1
10            52
20             1
33             1
42            68

In [224]:
df_userid['Active'] = 0

In [225]:
# merge user details for each of the active users
#active_user_data = pd.merge(active_users_agg, df_userid, how= 'left', left_on = 'user_id', right_on ='object_id')
active_user_data = active_users_agg.merge(df_userid, left_index = True,left_on ='user_id', right_on = 'object_id', how = 'inner')
active_user_data['Active']=1
active_user_data

,visited,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,Active
1,1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,1
9,52,10,2013-01-16 22:08:03,Santos Carla,CarlaFerreiraSantos@gustr.com,ORG_INVITE,1.401833e+09,1,1,318,4143.0,1
19,1,20,2014-03-06 11:46:38,Helms Mikayla,lqyvjilf@uhzdq.com,SIGNUP,1.401364e+09,0,0,58,NaN,1
32,1,33,2014-03-11 06:29:09,Araujo José,JoseMartinsAraujo@cuvox.de,GUEST_INVITE,1.401518e+09,0,0,401,79.0,1
41,68,42,2012-11-11 19:05:07,Pinto Giovanna,GiovannaCunhaPinto@cuvox.de,SIGNUP,1.401045e+09,1,0,235,NaN,1
42,1,43,2012-12-31 07:13:17,Gomes Beatrice,vgqmpljq@yyyxt.com,GUEST_INVITE,1.366010e+09,0,0,63,149.0,1
52,1,53,2013-02-09 23:47:15,Ribeiro Camila,CamilaGomesRibeiro@gmail.com,GUEST_INVITE,1.367798e+09,0,0,37,3641.0,1
62,62,63,2012-12-20 16:30:52,Martins Leonor,LeonorAraujoMartins@gmail.com,SIGNUP_GOOGLE_AUTH,1.401899e+09,0,0,203,NaN,1
68,91,69,2012-06-29 10:15:18,Bowen Alisha,AlishaBowen@gustr.com,GUEST_INVITE,1.401445e+09,0,0,107,5022.0,1
73,8,74,2013-01-14 00:02:41,Farrell Jack,JackFarrell@gmail.com,SIGNUP_GOOGLE_AUTH,1.377303e+09,0,0,89,NaN,1
79,1,80,2014-02-28 21:30:38,Silva Samuel,SamuelBarbosaSilva@jourrapide.com,ORG_INVITE,1.399239e+09,1,1,49,238.0,1
80,14,81,2013-06-26 03:57:41,Cardoso Rafael,RafaelCostaCardoso@yahoo.com,PERSONAL_PROJECTS,1.401249e+09,1,0,185,NaN,1
81,39,82,2013-02-12 02:10:40,Nygaard Nicklas,NicklasJNygaard@gmail.com,GUEST_INVITE,1.401848e+09,0,0,91,3732.0,1
86,20,87,2013-09-11 22:53:29,Martins Isabela,IsabelaAzevedoMartins@jourrapide.com,SIGNUP,1.400799e+09,1,0,26,NaN,1
132,13,133,2013-09-12 12:39:43,Melo Matilde,MatildeFernandesMelo@gmail.com,SIGNUP,1.400417e+09,0,0,249,NaN,1
134,6,135,2014-01-23 02:23:23,Skov Natasja,tbzuznte@mxecy.com,ORG_INVITE,1.401676e+09,0,0,313,6271.0,1
140,1,141,2013-09-18 20:17:54,Gopinko Jasper,JasperGopinko@jourrapide.com,ORG_INVITE,1.391459e+09,0,0,264,10977.0,1
145,16,146,2013-03-13 13:52:18,Rowell Taylah,TaylahRowell@cuvox.de,ORG_INVITE,1.401890e+09,0,0,60,2354.0,1
152,31,153,2013-04-28 00:00:14,Boone Timothy,TimothyMBoone@gustr.com,SIGNUP,1.400890e+09,0,0,64,NaN,1
159,29,160,2013-04-26 17:08:27,Skov Nicolai,NicolaiSSkov@gustr.com,ORG_INVITE,1.400951e+09,1,1,15,8331.0,1
164,3,165,2012-12-28 09:13:24,Coutee Michael,MichaelLCoutee@gmail.com,SIGNUP_GOOGLE_AUTH,1.365326e+09,0,0,62,NaN,1
167,57,168,2012-12-15 03:16:09,Tucker Leah,LeahTucker@gustr.com,ORG_INVITE,1.401420e+09,0,0,225,7104.0,1
173,1,174,2013-06-17 05:03:06,Pereira Matilde,MatildeRibeiroPereira@jourrapide.com,GUEST_INVITE,1.390540e+09,0,0,411,3345.0,1
184,12,185,2014-01-25 06:38:57,Blackman Jorja,JorjaBlackman@cuvox.de,GUEST_INVITE,1.401864e+09,0,0,116,2962.0,1
187,2,188,2014-03-18 21:34:09,Naumann Christina,ChristinaNaumann@yahoo.com,ORG_INVITE,1.401226e+09,0,0,30,3833.0,1
196,32,197,2012-07-04 00:26:31,Karlsen Camilla,CamillaSKarlsen@hotmail.com,GUEST_INVITE,1.401582e+09,1,0,135,9608.0,1
199,29,200,2013-02-23 12:41:33,Carvalho Carolina,CarolinaFernandesCarvalho@gmail.com,ORG_INVITE,1.401886e+09,1,1,107,11734.0,1
201,11,202,2013-11-10 05:10:24,Murray Sofia,SofiaMurray@yahoo.com,GUEST_INVITE,1.400995e+09,1,0,5,3246.0,1
202,37,203,2013-06-10 11:16:04,Friedman Nicole,NicoleFriedman@cuvox.de,GUEST_INVITE,1.401881e+09,1,0,263,3096.0,1
208,26,209,2013-08-02 22:55:31,Castro Eduarda,EduardaMartinsCastro@jourrapide.com,PERSONAL_PROJECTS,1.401836e+09,0,0,184,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...
11772,1,11773,2013-04-05 14:46:47,Johansen Rebecca,RebeccaSJohansen@cuvox.de,PERSONAL_PROJECTS,1.374159e+09,0,0,332,NaN,1
11781,1,11782,2014-01-01 10:46:56,Wardill Dean,DeanWardill@cuvox.de,PERSONAL_PROJECTS,1.393152e+09,0,0,269,NaN,1
11795,13,11796,2013-12-08 01:06:52,Holm Valdemar,ValdemarAHolm@gmail.com,SIGNUP,1.400807e+09,0,0,356,NaN,1
11800,51,11801,2013-01-16 11:06:51,Dias Anna,AnnaCastroDias@gmail.com,SIGNUP_GOOGLE_AUTH,1.401448e+09,0,0,46,NaN,1
11804,6,11805,2014-03-04 21:16:29,Burton Abby,AbbyBurton@gustr.com,ORG_INVITE,1.401139e+09,0,0,208,2795.0,1
11805,12,11806,2013-10-02 09:48:00,Henriksen Storm,StormAHenriksen@gmail.com,ORG_INVITE,1.401875e+09,0,0,12,7973.0,1
11822,18,11823,2013-05-04 19:03:56,Ribeiro Livia,LiviaLimaRibeiro@gmail.com,GUEST_INVITE,1.401217e+09,1,0,3,4762.0,1
11835,47,11836,2012-09-01 02:40:59,Bruun Emile,EmileJBruun@cuvox.de,ORG_INVITE,1.401850e+09,0,0,209,7168.0,1
11840,2,11841,2014-01-04 06:37:13,Bowser John,JohnJBowser@jourrapide.com,PERSONAL_PROJECTS,1.400827e+09,0,0,152,NaN,1
11856,29,11857,2013-03-23 21:50:18,Lovette Jacob,JacobVLovette@yahoo.com,GUEST_INVITE,1.401746e+09,1,0,56,7603.0,1
11868,11,11869,2013-09-24 00:26:27,Herzog Julia,JuliaHerzog@gmail.com,SIGNUP_GOOGLE_AUTH,1.401755e+09,0,0,357,NaN,1
11872,49,11873,2012-10-17 20:14:20,Costa Eduarda,EduardaFerreiraCosta@hotmail.com,ORG_INVITE,1.401394e+09,0,0,172,8911.0,1
11884,3,11885,2014-02-19 16:43:04,Boles Brian,BrianNBoles@hotmail.com,SIGNUP,1.401900e+09,0,0,29,NaN,1
11894,42,11895,2013-05-19 04:14:01,Cardell-Oliver Lucy,LucyCardell-Oliver@gmail.com,GUEST_INVITE,1.401855e+09,0,0,205,5972.0,1
11901,1,11902,2014-05-04 08:04:41,Krogh Mads,MadsNKrogh@gustr.com,SIGNUP,1.401264e+09,0,0,203,NaN,1
11908,43,11909,2013-03-03 15:54:07,Burns Rhys,RhysBurns@jourrapide.com,ORG_INVITE,1.401033e+09,1,0,273,11960.0,1
11912,1,11913,2014-01-30 05:50:12,Woolcock Sam,mlwzirju@xdxgl.com,SIGNUP,1.400738e+09,1,1,38,NaN,1
11919,17,11920,2013-05-30 23:40:42,Decker Daniel,DanielDecker@hotmail.com,ORG_INVITE,1.401234e+09,0,0,160,1821.0,1
11923,25,11924,2013-09-28 23:09:45,Trommler Jonas,JonasTrommler@yahoo.com,ORG_INVITE,1.401923e+09,0,0,14,7286.0,1
11938,8,11939,2013-06-04 04:59:00,Evans Bobby,BobbyYEvans@gmail.com,SIGNUP_GOOGLE_AUTH,1.393564e+09,0,0,50,NaN,1
11956,42,11957,2013-02-03 15:00:27,Vaux Mariam,MariamVaux@yahoo.com,SIGNUP,1.400944e+09,0,0,413,NaN,1
11957,13,11958,2013-05-25 06:28:53,Leake Taj,TajLeake@gmail.com,SIGNUP,1.400049e+09,1,0,176,NaN,1
11958,32,11959,2012-09-24 23:34:12,Walsh Aidan,AidanWalsh@cuvox.de,GUEST_INVITE,1.401666e+09,1,1,105,5093.0,1
11960,2,11961,2013-06-11 19:33:22,Ashby Charli,pvjjpyyz@bikch.com,GUEST_INVITE,1.390419e+09,0,0,2,2562.0,1
11963,27,11964,2013-02-02 15:39:08,Bibler Thelma,binrwhty@owujh.com,SIGNUP,1.401032e+09,0,0,0,NaN,1
11964,1,11965,2014-04-25 07:17:35,Storey Lewis,LewisStorey@cuvox.de,GUEST_INVITE,1.400657e+09,0,0,65,11251.0,1
11966,8,11967,2014-01-12 08:12:37,Barbosa Pedro,PedroFernandesBarbosa@gmail.com,GUEST_INVITE,1.401524e+09,0,0,15,5688.0,1
11968,22,11969,2013-06-01 00:48:14,Dickinson Aidan,AidanDickinson@hotmail.com,GUEST_INVITE,1.401411e+09,1,1,52,6647.0,1
11974,44,11975,2013-03-23 11:10:11,Daecher Jürgen,JurgenDaecher@gustr.com,GUEST_INVITE,1.400757e+09,1,0,31,6410.0,1
11987,6,11988,2014-03-15 11:04:47,Minick John,JohnFMinick@yahoo.com,PERSONAL_PROJECTS,1.401621e+09,0,0,114,NaN,1

In [226]:
df_userid.iloc[list(active_user_data.index),10]=1

In [227]:
df_userid

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,Active
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0,0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,1
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0,0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0,0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0,0
5,6,2013-12-17 03:37:06,Cunha Eduardo,EduardoPereiraCunha@yahoo.com,GUEST_INVITE,1.387424e+09,0,0,197,11241.0,0
6,7,2012-12-16 13:24:32,Sewell Tyler,TylerSewell@jourrapide.com,SIGNUP,1.356010e+09,0,1,37,NaN,0
7,8,2013-07-31 05:34:02,Hamilton Danielle,DanielleHamilton@yahoo.com,PERSONAL_PROJECTS,NaN,1,1,74,NaN,0
8,9,2013-11-05 04:04:24,Amsel Paul,PaulAmsel@hotmail.com,PERSONAL_PROJECTS,NaN,0,0,302,NaN,0
9,10,2013-01-16 22:08:03,Santos Carla,CarlaFerreiraSantos@gustr.com,ORG_INVITE,1.401833e+09,1,1,318,4143.0,1
10,11,2013-12-26 03:55:54,Paulsen Malthe,MaltheAPaulsen@gustr.com,SIGNUP,1.388117e+09,0,0,69,NaN,0
11,12,2014-04-17 23:48:38,Mathiesen Lærke,LaerkeLMathiesen@cuvox.de,ORG_INVITE,NaN,0,0,130,9270.0,0
12,13,2014-03-30 16:19:38,Fry Alexander,AlexanderDFry@cuvox.de,ORG_INVITE,1.396196e+09,0,0,254,11204.0,0
13,14,2012-10-11 16:14:33,Rivera Bret,BretKRivera@gmail.com,SIGNUP,1.350058e+09,0,0,0,NaN,0
14,15,2013-07-16 21:33:54,Theiss Ralf,RalfTheiss@hotmail.com,PERSONAL_PROJECTS,NaN,0,0,175,NaN,0
15,16,2013-02-11 10:09:50,Engel René,ReneEngel@hotmail.com,PERSONAL_PROJECTS,NaN,0,0,211,NaN,0
16,17,2014-04-09 14:39:38,Reynolds Anthony,AnthonyReynolds@jourrapide.com,GUEST_INVITE,1.397314e+09,1,0,175,1600.0,0
17,18,2013-08-24 00:26:46,Gregersen Celina,CelinaAGregersen@jourrapide.com,GUEST_INVITE,NaN,0,0,2,3153.0,0
18,19,2013-05-24 14:56:36,Collins Arlene,ArleneRCollins@gmail.com,SIGNUP,1.369926e+09,1,0,0,NaN,0
19,20,2014-03-06 11:46:38,Helms Mikayla,lqyvjilf@uhzdq.com,SIGNUP,1.401364e+09,0,0,58,NaN,1
20,21,2013-01-22 12:27:42,Hunter Alfie,AlfieHunter@gmail.com,PERSONAL_PROJECTS,1.358858e+09,0,0,54,NaN,0
21,22,2014-02-10 06:00:46,Myers Jordan,JordanMyers@gmail.com,ORG_INVITE,1.392012e+09,0,0,7,2994.0,0
22,23,2012-08-17 08:30:27,Souza Alice,AliceAraujoSouza@gustr.com,ORG_INVITE,1.345279e+09,1,0,6,23.0,0
23,24,2013-09-09 22:20:03,Woodruff James,JamesTWoodruff@cuvox.de,SIGNUP,1.378765e+09,1,0,123,NaN,0
24,25,2014-02-25 00:11:13,Stone Elise,EliseStone@jourrapide.com,GUEST_INVITE,1.393373e+09,1,0,81,6312.0,0
25,26,2013-07-28 00:53:32,Wexler Florian,FlorianWexler@jourrapide.com,ORG_INVITE,NaN,0,0,56,11857.0,0
26,27,2014-01-14 17:35:11,Santos Luís,LuisPintoSantos@gmail.com,ORG_INVITE,1.389807e+09,0,0,134,4189.0,0
27,28,2013-02-11 20:00:25,Weissmuller Marko,MarkoWeissmuller@jourrapide.com,SIGNUP,1.360872e+09,0,0,6,NaN,0
28,29,2013-09-16 02:08:41,Fernandes Evelyn,EvelynSousaFernandes@jourrapide.com,SIGNUP,1.379384e+09,0,0,92,NaN,0
29,30,2013-06-04 00:44:25,Egger Leah,LeahEgger@jourrapide.com,GUEST_INVITE,1.370307e+09,0,0,251,4835.0,0
...,...,...,...,...,...,...,...,...,...,...,...
11970,11971,2013-05-04 06:54:23,Ferreira Beatrice,BeatriceBarbosaFerreira@yahoo.com,GUEST_INVITE,NaN,0,0,3,11854.0,0
11971,11972,2012-09-13 23:23:11,Penington Jamie,JamiePenington@yahoo.com,ORG_INVITE,NaN,0,0,16,7012.0,0
11972,11973,2012-10-30 03:09:47,Simmons Thomas,ThomasSimmons@gmail.com,PERSONAL_PROJECTS,NaN,0,0,52,NaN,0
11973,11974,2012-12-26 16:42:08,Scott James,JamesJScott@gmail.com,SIGNUP,1.356713e+09,0,0,167,NaN,0
11974,11975,2013-03-23 11:10:11,Daecher Jürgen,JurgenDaecher@gustr.com,GUEST_INVITE,1.400757e+09,1,0,31,6410.0,1
11975,11976,2013-12-25 22:01:41,Kohl Leah,LeahKohl@hotmail.com,PERSONAL_PROJECTS,NaN,0,0,248,NaN,0
11976,11977,2013-09-17 18:58:51,Crary Joshua,JoshuaHCrary@gmail.com,SIGNUP_GOOGLE_AUTH,1.379704e+09,0,0,144,NaN,0
11977,11978,2014-04-23 16:28:06,Castro Pedro,PedroCunhaCastro@gustr.com,PERSONAL_PROJECTS,NaN,1,0,29,NaN,0
11978,11979,2013-01-28 09:26:33,Hurst Harley,HarleyHurst@yahoo.com,SIGNUP,1.359624e+09,0,0,2,NaN,0
11979,11980,2014-02-02 15:23:18,Gloeckner Franziska,ljnnbqdr@cgbld.com,ORG_INVITE,1.397835e+09,0,0,406,3068.0,0
11980,11981,2013-03-05 01:53:48,Fry Tyler,TylerFry@gmail.com,GUEST_INVITE,1.364868e+09,0,0,110,5775.0,0
11981,11982,2013-12-06 14:39:15,Barajas Maria,MariaCBarajas@gmail.com,ORG_INVITE,1.386341e+09,1,1,57,2527.0,0
11982,11983,2013-07-30 00:23:36,Engel Mike,MikeEngel@gmail.com,SIGNUP_GOOGLE_AUTH,1.375144e+09,0,0,234,NaN,0
11983,11984,2014-02-11 21:26:11,Reed Cerys,CerysReed@yahoo.com,SIGNUP,1.392154e+09,0,0,170,NaN,0
11984,11985,2013-07-08 17:23:26,Jespersen Marcus,MarcusTJespersen@cuvox.de,PERSONAL_PROJECTS,NaN,0,0,74,NaN,0
11985,11986,2012-06-24 01:02:14,Ribeiro Clara,ClaraBarrosRibeiro@gmail.com,SIGNUP_GOOGLE_AUTH,1.341105e+09,0,0,111,NaN,0
11986,11987,2013-03-15 03:21:01,Reed Poppy,ftdkorrj@uyhoy.com,SIGNUP,1.363318e+09,0,0,1,NaN,0
11987,11988,2014-03-15 11:04:47,Minick John,JohnFMinick@yahoo.com,PERSONAL_PROJECTS,1.401621e+09,0,0,114,NaN,1
11988,11989,2013-09-02 11:24:33,Pereira Emilly,EmillyOliveiraPereira@gmail.com,SIGNUP_GOOGLE_AUTH,1.378553e+09,1,0,22,NaN,0
11989,11990,2013-07-05 21:00:48,Juhl Aase,AasePJuhl@jourrapide.com,ORG_INVITE,1.373144e+09,0,0,25,3944.0,0
11990,11991,2014-04-20 14:22:45,Vaughn Arthur,ArthurJVaughn@gmail.com,SIGNUP_GOOGLE_AUTH,1.401460e+09,0,0,388,NaN,0
11991,11992,2014-04-09 19:39:56,Hermansen Amanda,AmandaAHermansen@yahoo.com,PERSONAL_PROJECTS,1.397245e+09,0,0,129,NaN,0
11992,11993,2013-03-28 23:24:21,Townsend Isabel,IsabelTownsend@cuvox.de,PERSONAL_PROJECTS,NaN,0,0,281,NaN,0
11993,11994,2012-06-05 04:46:16,Grimstone Joel,conxzghp@eaouk.com,GUEST_INVITE,NaN,0,0,84,5450.0,0
11994,11995,2013-10-21 13:33:17,Werfel Sebastian,SebastianWerfel@gmail.com,PERSONAL_PROJECTS,1.382449e+09,0,0,0,NaN,0
11995,11996,2013-09-06 06:14:15,Meier Sophia,SophiaMeier@gustr.com,ORG_INVITE,1.378448e+09,0,0,89,8263.0,0
11996,11997,2013-01-10 18:28:37,Fisher Amelie,AmelieFisher@gmail.com,SIGNUP_GOOGLE_AUTH,1.358275e+09,0,0,200,NaN,0
11997,11998,2014-04-27 12:45:16,Haynes Jake,JakeHaynes@cuvox.de,GUEST_INVITE,1.398603e+09,1,1,83,8074.0,0
11998,11999,2012-05-31 11:55:59,Faber Annett,mhaerzxp@iuxiw.com,PERSONAL_PROJECTS,1.338638e+09,0,0,6,NaN,0
11999,12000,2014-01-26 08:57:12,Lima Thaís,ThaisMeloLima@hotmail.com,SIGNUP,1.390727e+09,0,1,0,NaN,0

In [260]:
feature_df = df_userid.set_index('object_id').sort_index()

In [261]:
feature_df = feature_df.drop(['name','email','last_session_creation_time'],axis=1)

In [262]:
feature_df = feature_df.drop('creation_time', axis =1)

In [263]:
feature_df.head()

,creation_source,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,Active
object_id,,,,,,
1,GUEST_INVITE,1,0,11,10803.0,0
2,ORG_INVITE,0,0,1,316.0,1
3,ORG_INVITE,0,0,94,1525.0,0
4,GUEST_INVITE,0,0,1,5151.0,0
5,GUEST_INVITE,0,0,193,5240.0,0

In [264]:
feature_df['invited_by_user_id'] = feature_df['invited_by_user_id'].fillna(0)
feature_df['invited_by_user_id'] = feature_df['invited_by_user_id'].apply(lambda x: 1 if x!=0 else 0)

In [265]:
labelEncoder = LabelEncoder()
hotEncoder = OneHotEncoder(sparse=False)

creationsource_encoder = labelEncoder.fit_transform(feature_df.creation_source)
creationsource_encoder = creationsource_encoder.reshape(len(feature_df),1)
onehot_encoder = hotEncoder.fit_transform(creationsource_encoder)
creationsource_df = pd.DataFrame(onehot_encoder,columns=labelEncoder.classes_,dtype='int64')

#org_id_encoder = labelEncoder.fit_transform(feature_df.org_id)
#org_id_encoder = org_id_encoder.reshape(len(feature_df),1)
#onehot_encoder = hotEncoder.fit_transform(org_id_encoder)
#org_id_encoder_df = pd.DataFrame(onehot_encoder, columns=labelEncoder.classes_,dtype='int64')

In [266]:
#org_id_encoder_df
org = feature_df.groupby('org_id').sum()

org_cata = []
for i in feature_df['org_id']:
    cata = org.loc[i,'Active']
    org_cata.append(cata)
feature_df['org_id'] = org_cata

feature_df = pd.get_dummies(data=feature_df,columns=['org_id'])
feature_df.head()

,creation_source,opted_in_to_mailing_list,enabled_for_marketing_drip,invited_by_user_id,Active,org_id_0,org_id_1,org_id_2,org_id_3,org_id_4,...,org_id_6,org_id_7,org_id_8,org_id_9,org_id_10,org_id_11,org_id_12,org_id_13,org_id_14,org_id_16
object_id,,,,,,,,,,,,,,,,,,,,,
1,GUEST_INVITE,1,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,ORG_INVITE,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,ORG_INVITE,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,GUEST_INVITE,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
5,GUEST_INVITE,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [267]:
feature_df.index = np.arange(0,len(feature_df.index))
feature_df = feature_df.join(creationsource_df)

In [268]:
feature_df.head()

,creation_source,opted_in_to_mailing_list,enabled_for_marketing_drip,invited_by_user_id,Active,org_id_0,org_id_1,org_id_2,org_id_3,org_id_4,...,org_id_11,org_id_12,org_id_13,org_id_14,org_id_16,GUEST_INVITE,ORG_INVITE,PERSONAL_PROJECTS,SIGNUP,SIGNUP_GOOGLE_AUTH
0,GUEST_INVITE,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,ORG_INVITE,0,0,1,1,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
2,ORG_INVITE,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,GUEST_INVITE,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
4,GUEST_INVITE,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0

In [269]:
feature_df = feature_df.drop('creation_source', axis =1)

In [270]:
feature_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12000 entries, 0 to 11999
Data columns (total 25 columns):
opted_in_to_mailing_list      12000 non-null int64
enabled_for_marketing_drip    12000 non-null int64
invited_by_user_id            12000 non-null int64
Active                        12000 non-null int64
org_id_0                      12000 non-null uint8
org_id_1                      12000 non-null uint8
org_id_2                      12000 non-null uint8
org_id_3                      12000 non-null uint8
org_id_4                      12000 non-null uint8
org_id_5                      12000 non-null uint8
org_id_6                      12000 non-null uint8
org_id_7                      12000 non-null uint8
org_id_8                      12000 non-null uint8
org_id_9                      12000 non-null uint8
org_id_10                     12000 non-null uint8
org_id_11                     12000 non-null uint8
org_id_12                     12000 non-null uint8
org_id_13                     12000 non-null uint8
org_id_14                     12000 non-null uint8
org_id_16                     12000 non-null uint8
GUEST_INVITE                  12000 non-null int64
ORG_INVITE                    12000 non-null int64
PERSONAL_PROJECTS             12000 non-null int64
SIGNUP                        12000 non-null int64
SIGNUP_GOOGLE_AUTH            12000 non-null int64
dtypes: int64(9), uint8(16)
memory usage: 1.4 MB

In [271]:
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import GridSearchCV,train_test_split

y = feature_df.pop('Active')
x = feature_df

In [272]:
x_train,x_test,y_train,y_test = train_test_split(x, y, test_size = 0.25,random_state=42)

In [273]:

graboost = GradientBoostingClassifier(max_features='sqrt')
parametergra = {'n_estimators':[40,45,50,55,60],'learning_rate':[.01,0.02,0.03,0.04,0.05],
              'max_depth':[1,2,3,4,5]}
grid1 = GridSearchCV(estimator=graboost,param_grid=parametergra,
                     scoring='accuracy',cv=5)
grid1.fit(x_train,y_train)
best_para_gra = grid1.best_params_
best_acc_gra = grid1.best_score_

print('The Tuned Paratmers :\n',best_para_gra,'\nAchieved %s Percent Accuracy' %(best_acc_gra*100))

The Tuned Paratmers :
 {'learning_rate': 0.01, 'max_depth': 1, 'n_estimators': 40}
Achieved 88.0 Percent Accuracy

In [243]:
gbm = GradientBoostingClassifier(max_features='sqrt',
                                 n_estimators=50,learning_rate=.05,max_depth= 3)
gbm.fit(x_train,y_train)
feature_coef = pd.DataFrame(gbm.feature_importances_).transpose()
feature_coef.columns = list(feature_df.columns)
feature_coef.index = ['GBM'] 
feature_coef.transpose().sort_values(by='GBM',ascending=False)

                                 GBM
PERSONAL_PROJECTS           0.156322
org_id_0                    0.143398
org_id_5                    0.122176
org_id_1                    0.104440
org_id_11                   0.099417
org_id_6                    0.074986
GUEST_INVITE                0.057852
org_id_12                   0.041035
SIGNUP_GOOGLE_AUTH          0.027259
org_id_7                    0.023222
SIGNUP                      0.021854
org_id_2                    0.021493
opted_in_to_mailing_list    0.020705
enabled_for_marketing_drip  0.019893
ORG_INVITE                  0.018904
org_id_13                   0.017214
org_id_14                   0.014369
org_id_3                    0.005170
org_id_4                    0.004658
invited_by_user_id          0.002329
org_id_16                   0.002101
org_id_10                   0.000998
org_id_8                    0.000199
org_id_9                    0.000008

Using the feature_importance of GBM, we arrive at the  independent features  which  influence the dependent variable  are given in sorted order in decreasing order of importance.